.container {
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
}



.jumbotron {
  padding-left: 100px;
  padding-right: 100px;
}

.order-form {
  display: none;
}

.summary {
  display: none;
}

.checkout-screen {
  display: none;
}

.order {
  display: none;
}

.final {
  display: none;
}

.form-group {
  margin: 10px;
}

.col-md-4 {
  margin: 6px;
}

/*.panel {
  margin-left: auto;
  margin-right: auto;
  align: center;
  width: auto;
  height: auto
}*/

label {
  font-size: 120%;
  margin: 5px;
}
